:root {
    --heading-font: 'Playfair Display', serif;
    --body-font: 'Poppins', sans-serif;
    --special-font: 'Ubuntu';
    --primary-color: #0F172A;
    --secondary-color: #38BDF8;
    --background-color: #E2E8F0;
    --text-color: #1F2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 10px;
}

body {
    background-color: #f5f7fb;
}

/* ************WayFinding ******************* */

.navigation .nav-list .active {
    color: var(--secondary-color);
}

/* *********** Header ************* */
header {
    display: grid;
    grid-template-columns: 115px auto 44px;
    align-items: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 100px;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header .logo img {
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 100px;
    height: 90px;
   
}


header span {
    margin: 0;
    font-size: 1.1rem;
}

/* *********** Navigation **************** */

.navigation {
    top: 111px;
    position: fixed;
    right: 0;
    background-color: var(--text-color);
    padding: 1rem;
    display: none;
}

.navigation.open {
    display: block;
}

.navigation .nav-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    list-style: none;

}

.navigation .nav-list a {
    display: block;
    width: 100%;
    color: var(--background-color);
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation .nav-list a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

/* ******** Button ********* */

.view-mode-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 0.2rem;
}

/* *********Menu Button ************ */

.menu-btn {
    width: 100%;
    border: none;
    background: none;
    font-size: 1.5rem;
    display: block;
}

.menu-btn::before {
    content: "\2630";
    color: var(--secondary-color);
}

.menu-btn.close::before {
    content: "\00D7";
    color: var(--secondary-color);
}

/* ************Heading************* */

h1 {
    padding-left: 10px;
    font-family: var(--heading-font);
    color: #0F172A;
}

/* ***************** Card Section ************* */

.grid-view {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 1rem auto;
    width: 100%;
}

.grid-view .company-name {
    display: none;
}

.card-container section {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 1px var(--secondary-color);
    background-color: var(--background-color);
    font-family: var(--special-font);
    font-weight: 400;
    width: 320px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.card-container section a:hover {
    text-decoration: none;
}

.card-container img {
    width: 150px;
    display: block;
}

.list-view {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.list-view Section {
        display: grid;
        width: 100%;
        height: fit-content;
        background-color: initial;
        padding: 10px;
        box-shadow: inset 0 0 5px #cecdcd;
    }

.list-view > section:nth-child(odd) {
        background-color: var(--background-color);
    }

.list-view img {
        display: none;
    }

.list-view .company-name {
        display: block;
    }

/* ******************Footer**************** */

footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: white;
}

.social {
    display: flex;
    gap: 15px;
}

.social img {
    border-radius: 10px;
    padding: 5px;
    outline: 1px solid var(--background-color);
}

.social img:hover {
    background-color: var(--background-color);

}