@media(min-width: 768px) {
    body {
        max-width: 1200px;
        margin: auto;
    }

    header {
        grid-template-columns: 115px auto auto;

    }

    .navigation .nav-list {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        align-content: center;
        border-bottom: initial;
    }

    .navigation {
        display: block;
        position: static;
        background-color: inherit;
    }

    .menu-btn {
        display: none;
    }

    .grid-view {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 320px));
    }

    .list-view section {
        grid-template-columns: 1fr 2fr 1fr 2fr;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* flex-direction: column; */
    }

    .event-section {
        flex: 1 1 350px;
    }
    
    .forecast-section, .weather-section {
        flex: 0 1 300px;
    }

    .hero-section a {
        top: 80%;
        left: 80%;
    }
}

@media (max-width: 340px) {
    header span {
        font-size: 0.9rem;
    }
    .hero-section a {
        top: 66%;
        left: 50%;
        font-size: 0.9rem;
    }
}