@media(min-width: 768px) {
    body {
        max-width: 1200px;
        margin: auto;
    }

    header {
        grid-template-columns: 115px auto auto;

    }

    .navigation .nav-list {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        align-content: center;
        border-bottom: initial;
    }

    .navigation {
        display: block;
        position: static;
        background-color: inherit;
        border-bottom: initial;
    }

    .menu-btn {
        display: none;
    }

    .grid-view {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 320px));
    }

    .list-view section {
        grid-template-columns: 1fr 2fr 1fr 2fr;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 340px) {
    header span {
        font-size: 0.9rem;
    }
}