:root {
    --heading-font: 'Playfair Display', serif;
    --body-font: 'Poppins', sans-serif;
    --special-font: 'Ubuntu';
    --primary-color: #0F172A;
    --secondary-color: #38BDF8;
    --background-color: #E2E8F0;
    --text-color: #1F2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 10px;
}

header {
    display: grid;
    grid-template-columns: 150px auto 44px;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 90px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.active {
    text-decoration: underline;
}

header img {
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

header span {
    margin: 15px;
    font-size: 1.1rem;
}

.navigation {
    top: 95px;
    position: fixed;
    right: 0;
    background-color: var(--background-color);
    padding: 1rem;
    display: none;
}

.navigation.open {
    display: block;
}

.navigation .nav-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    color: var(--secondary-color);
    list-style: none;

}

.navigation .nav-list a {
    display: block;
    width: 100%;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-btn {
    width: 100%;
    border: none;
    background: none;
    font-size: 1.5rem;
    display: block;
}

.menu-btn::before {
    content: "\2630";
    color: var(--secondary-color);
}

.menu-btn.close::before {
    content: "\00D7";
    color: var(--secondary-color);
}

/* ***footer**** */

footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
}

.social {
    display: flex;
    gap: 15px;
}



