:root {
    --heading-font: 'Playfair Display', serif;
    --body-font: 'Poppins', sans-serif;
    --special-font: 'Ubuntu';
    --primary-color: #0F172A;
    --secondary-color: #38BDF8;
    --background-color: #E2E8F0;
    --text-color: #1F2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 10px;
}

/* ************WayFinding ******************* */

.navigation .nav-list .active {
    color: var(--secondary-color);
}

/* *********** Header ************* */
header {
    display: grid;
    grid-template-columns: 150px auto 44px;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 90px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header img {
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

header span {
    margin: 15px;
    font-size: 1.1rem;
}

/* *********** Navigation **************** */

.navigation {
    top: 95px;
    position: fixed;
    right: 0;
    background-color: var(--background-color);
    padding: 1rem;
    display: none;
}

.navigation.open {
    display: block;
}

.navigation .nav-list {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    list-style: none;

}

.navigation .nav-list a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.navigation .nav-list a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

/* ******** Button ********* */

.view-mode-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 0.2rem;
}

/* *********Menu Button ************ */

.menu-btn {
    width: 100%;
    border: none;
    background: none;
    font-size: 1.5rem;
    display: block;
}

.menu-btn::before {
    content: "\2630";
    color: var(--secondary-color);
}

.menu-btn.close::before {
    content: "\00D7";
    color: var(--secondary-color);
}

/* ***************** Card Section ************* */

.grid-view {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 1rem auto;
    width: 100%;
}

.card-container section {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 1px var(--secondary-color);
    background-color: var(--background-color);
    font-family: var(--special-font);
    font-weight: 400;
    width: 320px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.card-container section a:hover {
    text-decoration: none;
}
.card-container img {
    width: 150px;
    display: block;
}

.list-view {
    display: flex;
    flex-direction: column;
    gap: 10px;

    section {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 2fr;
    }

    img {
        display: none;
    }
}

/* ***footer**** */

footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-around;
}

.social {
    display: flex;
    gap: 15px;
}



