/* header */
:root {
    --primary-color: #3D4077;
    --secondary-color: #E07A5F;
    --font-family: Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *********************** HEADER ******************** */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    gap: 8px;
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-color);
}

/* ****************** HAMBURGER NAVIGATION ****************** */

.hamburger {
    color: var(--primary-color);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.close::before {
    content: "\00D7";
}

    /* ************ Navigation ********** */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a {
    display: block;
    padding: 0.8rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation a:hover {
    background-color: var(--secondary-color);
}

/* *********** Main ******** */
h1 {
    margin-left: 10px;
}

/* ********** Footer ******* */
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.media-icon {
    display: flex;
    justify-content: center;
}

.media-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    width: 44px;
    height: 44px;
    border: 1px solid var(--secondary-color);
    border-radius: 22px;
}

.media-icon img {
    width: 22px;
    height: 22px;
}

.media-icon a:hover {
    background-color: #ddd;
}