@media(min-width: 768px) {
    .navigation {
        display: block;
    }
    .navigation ul {
        display: flex;
        /* justify-content: space-around; */
    }
    .navigation a {
        border-bottom: none;
        padding-left: 50px;
        padding-right: 50px;
    }

    header {
        grid-template-columns: 55px auto;
    }
    .hamburger {
        display: none;
    }
    main {
        display: grid;
        grid-template-columns: 2fr auto;
        gap: 12px;
    }

    h1{
        grid-column: 1/3;
    }
    .course-section {
        grid-column: 1/3;
    }
    .course-list{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 15px;
    }

}