body {
    max-width: fit-content;
    margin: auto;
}

main {
    border: 1px solid burlywood;
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
}

#current-temp {
    font-weight: 800;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#weather-icon {
    width: 130px;
    height: auto;
}

figcaption {
    text-transform: capitalize;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 600;
}