/* *************** Responsive ************** */

@media (max-width: 640px) {

    header {
        grid-template-columns: 80px auto 44px;

    }

    section .container,
    .container.edit {
        display: flex;
        flex-direction: column;
    }

    .ressource-card {
        width: 100%;
        /* margin: 2rem; */
        grid-template-areas:
            "photo"
            "title"
            "year"
            "subject"
        ;
        grid-template-columns: 250px;
    }

    .ressource-card img {
        width: 100%;
        object-fit: contain;
    }

    .features>div {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto;
    }


    #nav-bar .active {
        border-radius: 0;
    }

    .navigation {
        display: none;
    }

    .navigation.open {
        display: block;
        margin-top: 10px;
        grid-column: 1/4;
        grid-row: 2/3;
        width: 100%;
    }

    .navigation .nav-list {
        flex-direction: column;
        width: 100%;
    }

    .navigation .nav-list li {
        display: block;
        text-align: center;
        border-bottom: 1px solid var(--color-light-white);
    }

    .menu-btn {
        width: 100%;
        border: none;
        background: none;
        font-size: 1.5rem;
        display: block;
    }

    .menu-btn::before {
        content: "\2630";
        color: var(--color-light-white);
        font-size: 1.5rem;

    }

    .menu-btn.close::before {
        content: "\00D7";
        color: var(--color-light-white);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5rem;
    }

    footer {
        grid-template-columns: auto;
    }
}