/* ************* Results Page ************* */
main {
    background-color: var(--ligh-gray);
    padding: 40px 20px;
    min-height: 70vh;
}

/* Titre principal */

main h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: var(--color-blue);
    margin: 10px auto 0;
    border-radius: 2px;
}

/* Conteneur des résultats */
#results {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carte des résultats */
#results .card {
    background-color: var(--color-white);
    border: 1px solid var(--color-light-white);
    border-radius: 12px;
    padding: 25px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    font-family: var(--body-font);
    animation: fadeIn 0.3s ease-out;
}

/* Animation d’apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Titres dans la carte */
#results .card h2 {
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color: var(--color-blue);
    margin-bottom: 15px;
    border-bottom: 1px solid var(--color-light-white);
    padding-bottom: 5px;
}

/* Texte des infos */
#results .card p {
    font-size: 1rem;
    color: var(--color-charcoal);
    margin: 8px 0;
    line-height: 1.4;
}

#results .card strong {
    color: var(--color-blue);
}

/* Score mis en valeur */
#results .card p:last-child {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-button);
    margin-top: 10px;
}